@model HousePropertyUI.Models.VM.PropertyNumberViewModelUpdate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PropertyNumberViewModelUpdate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PropertyNumber.PropertyNo" class="control-label"></label>
                <input asp-for="PropertyNumber.PropertyNo" class="form-control" />
                <span asp-validation-for="PropertyNumber.PropertyNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyNumber.PropertyID" class="control-label"></label>
                <select asp-for="PropertyNumber.PropertyID" class="form-select" asp-items="@Model.PropertyList">
                    <option disabled selected>--Select Property--</option>
                </select>
                <span asp-validation-for="PropertyNumber.PropertyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyNumber.SpecialDetails" class="control-label"></label>
                <textarea asp-for="PropertyNumber.SpecialDetails" class="form-control" rows="5"></textarea>
                <span asp-validation-for="PropertyNumber.SpecialDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

